#page{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
    background-color: white;
    flex: 1;
    padding: 20px;
    height: 92vh;
    overflow: auto;
    border-left: 1px solid #0AA8A8;
}
.admintopbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.filterBar{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 0px 20px 0px;
}
.filterBar input{
    padding: 5px 10px 5px 10px;
}

.adminAddArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 30px;
}

div#message {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}